.button {
    background: transparent;
    border: none;
  .image {
    width: 60px;
    height: 60px;
    transition: transform .7s ease-in-out;
    &:hover{  
    transform: rotate(360deg);
    }
  }
}
